{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Barras de sonido{% endblock %}</title>

        {{ encore_entry_link_tags('app') }} 

    </head>
    <body>
        <div id="content">

            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <img src="{{ asset('img/logo-ecommerce.png') }}" alt="Barras de sonido" class="img-logo"/>
                    </div>
                    <div class="col-4">
                        {% if app.user %}
                            Has accedido como {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Salir</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% block body %}{% endblock %}
        </div>

        {{ encore_entry_script_tags('app') }}

        <script>

            function feature(element) {
                var x = document.getElementById(element);
                if (x.style.display === "inline-flex") {
                    x.style.display = "none";
                } else {
                    x.style.display = "inline-flex";
                }
            }
        </script>
    </body>
</html>