<html>
<head>
{{ encore_entry_link_tags('app') }} 

</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-12">
                Las 10 Mejores Barras de SOnido En España
            </div>
        </div>

        {% for product in products %}
        <div class="row box-row">
            <div class="col-3  box-border">
                <img src='{{ product.images.primary.large.url|e }}' class="img-product-principal"/>             
            </div>
            <div class="col-5  box-border">
                <div>{{  product.itemInfo.title.displayValue|u.truncate(70, '...') }}</div>
                <div>{{  product.itemInfo.byLineInfo.brand.displayValue|e  }}</div>

                <div>{{  product.offers.listings.price.savings.percentage|e  }} %</div>

                <div>Envio gratis</div>
                
                <div>Mostrar mas</div>

            </div>
            <div class="col-4  box-border">                
                <img src="{{ asset('img/amazon-logo-PNG.png') }}" alt="Amazon" class="img-logo-amazon"/>
            </div>
        </div>
         {% endfor %}
    </div>

{{ encore_entry_script_tags('app') }}

</body>